@import url('https://fonts.googleapis.com/css?family=Karma:400,700');
body {
    font-family: 'Karma', serif;
    width: 760px;
    margin: 30px auto;
}

.h4,
h5,
h6,
h4,
h5,
h6 {
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    line-height: 1.4;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul li,
ol li {
    font-size: 1.1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.75;
}

a {
    color: #279FCD;
    text-decoration: none;
}

blockquote {
    padding: 10px 25px;
    margin-left: 4% !important;
    font-style: italic;
    font-size: 1.1rem;
    color: #595d61;
    line-height: 1.9;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-left: 10px solid #e4e4e4;
    clear: both;
}

blockquote {
    margin: 0 0 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

dl.wp-caption,
dl.wp-caption * {
    margin-bottom: 10px;
}

.wp-caption-dd {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}